<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Crypter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58F7C4CF2880E0AB003622E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58F7C4DF2880E0AD003622E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58F7C4E92880E0AD003622E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
